
.detailContent {
	padding: 30px 0;
}

.detail-head {
	border-top: 3px solid #000;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: #fff;
}

.owner-info {
	margin-left: 80px;
	width: 240px;
	height: 60px;
	float: left;
}

.owner-info img {
	vertical-align: middle;
	border-radius: 23px;
	width: 46px;
	height: 46px;
}

.owner-info .user_name {
	display: inline-block;
	height: 60px;
	margin-left: 20px;
	line-height: 60px;
	font-size: 17px;
	color: #000;
}

.viewCount-time {
	float: right;
	width: 300px;
	height: 50px;
}

.viewCount-time div {
	float: left;
	width: 148px;
	height: 60px;
	border-left: 1px solid #ccc;
	text-align: center;
}

.viewCount-time div span {
	display: inline-block;
	width: 100%;
	height: 30px;
	line-height: 30px;
	font-size: 13px;
	color: #ccc;
}

.viewCount .count, .time .publish_time {
	color: #000;
}

.show-images {
	width: 600px;
	float: left;
}

.detail-center {
	margin-top: 20px;
	border: 1px solid #D5D5D5;
	background-color: #fff;
}

.detail-center .show-images {
	border-right: 1px solid #D5D5D5;
}

.detail-center .show-images .currentImgBox {
	padding: 30px 80px;
	width: 440px;
}

.detail-center .show-images .currentImgBox .currentImg {
	width: 440px;
	height: 500px;
}

.detail-center .show-images .totalImgs {
	margin-bottom: 30px;
	padding: 0 50px;
	height: 100px;
}

.detail-center .show-images .totalImgs .image-list {
	border: 1px dashed #C0A16B;
}

.detail-center .show-images .totalImgs .image-list .des-img {
	display: inline-block;
	float: left;
	margin: 8px 0;
	margin-left: 12px;
	width: 85px;
	height: 85px;
}

.detail-center .show-images .totalImgs .image-list .des-img img {
	width: 85px;
	height: 85px;
}


.base-info {
	width: 360px;
	height: 662px;
	padding: 25px;
	float: right;
}


.base-info h3 {
	font-size:18px;
	height: 70px;	
	line-height: 35px;
	color: #000;
}

.base-info .price-info .price-block b {
	margin-left: 5px;
	font-size: 15px;
	color: #9D9D9D;
}

.base-info .price-info .price-block em {
	margin-left: 10px;
	font-size: 20px;
	color: #DC1120;
}

.base-info .price-info .price-block .priceBig b {
	margin-left: 5px;
	font-size: 20px;
}

.base-info .price-info .price-block .priceBig em {
	margin-left: 10px;
	font-size: 23px;
	color: #DC1120;
}

.base-info .price-info, .base-info .idle-info{
	border-bottom: 1px solid #ccc;
	padding-bottom: 20px;
}

.base-info ul li {
	height: 35px;
	line-height: 35px;
	font-size: 15px;
}

.base-info ul li.address{
	height: 70px;
	line-height: 35px;
	overflow: hidden;
}

.base-info ul li.address em {
	color: #000;
}

.base-info ul li.school em{
	color: #1B6D85;
}

.base-info ul li.contact em{
	color: #C0A16B;	
}

.base-info ul li em {
	padding-left: 8px;
}

.base-info .actions {
	padding-top: 20px;
}

.base-info .actions #buy-btn {
	display: block;
	width: 200px;
	height: 40px;
	background-color: #E45D04;
	color: #fff;
	font-size: 18px;
}

.base-info .actions .ding-cai {
	width: 200px;
	height: 90px;
	padding: 25px 0;
}

.base-info .actions .ding-btn, .base-info .actions .cai-btn{
	width: 80px;
	height: 40px;
	background-color: #ADADAD;
	color: #fff;
	font-size: 17px;
}

.base-info .actions .ding-btn {
	float: left;
}

.base-info .actions .cai-btn {
	float: right;
}


.detail-desc {
	margin: 24px 0;
}

.detail-desc .tabs {
	height: 50px;
	border-bottom: 4px solid #ffcc00;
}

.detail-desc .tabs ul {

}

.detail-desc .tabs ul li {
	float: left;
	cursor: pointer;
	display: inline-block;
	width: 120px;
	height: 50px;
	line-height: 50px;
	color: #000;
	font-size: 18px;
	text-align: center;
	font-weight: 700;
	background-color: #fff;
	border-top: 1px solid #CCC;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	margin-left: -1px;
}

.detail-desc .tabs ul li.active {
	background-color: #ffcc00;
	color: #fff;
}

.detail-desc .tabs-content {
	background-color: #fff;
	border: 1px solid #ccc;
	margin-top: 10px;
}

.detail-desc .tabs-content .mode-block {
	position: relative;
	background-color: #F6F6F6;
	display: none;
}

.detail-desc .tabs-content .introduce p{
	font-size: 17px;
	line-height: 25px;
	padding: 20px;
	background-color: #fff;
}


.detail-desc .tabs-content .mode-block.active {
	z-index: 23;
	display: block;
}

/*评论*/
.detail-desc .tabs-content .message .cl {
	margin-top: 10px;
	padding: 8px;
	background-color: #fff;
}

.detail-desc .tabs-content .message .cl .cl-headlogo {
	width: 5%;
	float: left;
}

.detail-desc .tabs-content .message .cl .cl-headlogo img {
	margin-left: 10px;
	width: 40px;
	height: 40px;
	border-radius: 20px;
}

.detail-desc .tabs-content .message .cl .cl-comment {
	float: right;
	width: 95%;
}

.detail-desc .tabs-content .message .cl .cl-header {
	font-weight: 700;
	padding: 5px 5px 5px 15px;
	/*background: #f8f8f8;*/
	/*border-bottom: 1px dashed #46b675;*/
}

.detail-desc .tabs-content .message .cl .cl-header .comment-time {
	float: right;
}

.detail-desc .tabs-content .message .cl .cl-content {
	left: 0px;
	margin: 0px;
	padding: 10px;
	padding: 5px 5px 5px 15px;
}

.detail-desc .tabs-content .message .cl .cl-foot {
	float: right;
	padding: 5px 5px 0px 10px;
}

.detail-desc .tabs-content .message .cl .cl-foot .like {
	cursor: pointer;
}

.detail-desc .tabs-content .message .cl .cl-foot .like i {
	display: inline-block;
	width: 12px;
	height: 14px;
	vertical-align: text-top;
	margin-right: 5px;
	background:
		url(http://static.hdslb.com/phoenix/dist/images/icons-comment.png)
		no-repeat;
	background-position: -154px -25px;
}

.detail-desc .tabs-content .message .cl .cl-foot .like.liked i {
	background-position: -154px -89px;
}


.detail-desc .tabs-content .message ul li img {
	width: 750px;
}


.detail-desc .tabs-content .message .shop-image {
	margin: 0px;
	padding-top: 10px;
}

.detail-desc .tabs-content .message .navbar li {
	margin-top: 30px;
}

.detail-desc .tabs-content .message .comment {
	width: 900px;
	margin: 15px auto;
}

.detail-desc .tabs-content .message .comment .button {
	float: right;
	display: block;
	width: 92px;
	height: 36px;
	background-color: #40bb8c;
	text-align: center;
	line-height: 36px;
	color: #fff;
	cursor: pointer;
	border-radius: 3px;
	margin-top: 29px;
	border: 0px;
}

.detail-desc .tabs-content .message .comment-area {
	width: 844px;
	height: 80px;
	font-size: 16px;
	display: inline-block;
	box-sizing: border-box;
	background-color: #f4f5f7;
	border: 1px solid #e5e9ef;
	overflow: auto;
	border-radius: 4px;
	color: #555;
	width: 100% !important;
	outline: none;
	resize: none;
	transition: 0s;
	padding: 5px 10px;
	line-height: normal;
}

textarea:focus {
	outline: -webkit-focus-ring-color auto 5px;
}

.detail-desc .tabs-content .message .comment-area button {
	
}

/*分页样式开始*/
.pagination {
	float: right;
	padding-left: 0;
	margin: 20px 0;
	border-radius: 4px;
}

li.totalPage {
	float: left;
	overflow: auto;
	border: 0px;
}

li.totalPage>span {
	border: 0px solid white;
	color: #337ab7;
	background: white;
	position: relative;
	line-height: 1.42857143;
	text-decoration: none;
}

li.totalPage>span:hover {
	color: #337ab7;
	background-color: white;
}

li.jumpPage>span {
	margin: 0px 6px;
}

li.jumpPage>input[type=text] {
	width: 30px;
	height: 34px;
	float: left;
	outline: none;
	margin-right: 6px;
	line-height: 30px;
	font-size: 14px;
	text-align: center;
}
