<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqut.compusEC.dao.ProductDAO">

	<resultMap type="java.util.HashMap" id="ProductResult">
	</resultMap> 
	
	<!-- 最新闲置 -->
	<select id="queryNewsProduct" resultMap="ProductResult">
		select * from tb_productinfo order by createdTime desc limit 5
	</select>
	
	<!-- 数码控 -->
	<select id="queryDigitalsProduct" resultMap="ProductResult">
		select * from tb_productinfo where main_class_id = 1 limit 12
	</select>
	
	<!-- 潮流生活 -->
	<select id="queryfashionLifesProduct" resultMap="ProductResult">
		select * from tb_productinfo where main_class_id in (2,5,6) ORDER BY view_count desc limit 6
	</select> 
	
	<!-- 二手图书 
	<select id="queryNewsProduct" resultMap="ProductResult">
		select * from tb_productinfo order by createdTime desc limit 6
	</select> -->
	
	<!-- 热门榜 -->
	<select id="queryHotsProduct" resultMap="ProductResult">
		select * from tb_productinfo order by view_count desc limit 6
	</select>
	
	<!-- 根据主类别查询商品 -->
	<select id="queryProductByMainId" resultMap="ProductResult">
		select * from tb_productinfo where main_class_id = #{mainId} limit 10
	</select> 
	
	<!-- 根据子类别查询商品 -->
	<select id="queryProductBySubId" resultMap="ProductResult">
		select * from tb_productinfo where sub_class_id = #{subId} limit 12
	</select> 
	
</mapper>